/* APP-FOOTER */
.AppFooter{
    margin-top: 10px;
    display: flex;
    border-top: 1px grey solid;
    border-bottom: 1px grey solid;
    margin-bottom:3px ;
    align-items: center;
    height: 30px;
    justify-content: center;
  }