.App{
  width:80vw;
  color: rgb(82, 79, 79);
  margin: auto;
  font-weight: 300;
}

/* NAVBAR */
.AppHeader{
  height: 50px;
  width: 80vw;
  margin: auto;
  display: flex;
  border-bottom: 1px grey solid;
  justify-content: space-between;
  align-items: center;
}

.otherInfo{
  display: flex;
}
.otherInfo li{
  list-style: none;
  margin-left: 15px;
}

.otherInfo a{
  text-decoration: none;
  color: rgba(16, 15, 15, 0.67);
  font-size: 15px;
}

.otherInfo a:hover{
  color: aqua;
  transition: color 0.3s linear;
}
.otherInfo li:active{
  color: aqua;
}
.home_icon{
  margin-right: 2px;
  font-size: 14px;
}
  
.login_page{
padding-top: 20vh;
}


/* PageContent */
.PageContent{
  margin-top: 20px;
  min-height: 70vh;
  background-color: rgb(238, 247, 247);
}
.home_page{
  padding: 10px;
}


.home_page_row{
  margin-top: 20px;
}
.login_page_form_div{
  /* position: relative; */
  padding: 10;
  width: 30vw;
  margin: auto;

}
.persona_page{
  padding: 10px;
}
.persona_page_btn,.movie_page_btn{
  display: flex;
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
}
.movieListing,.movie_edit{
  padding: 10px;
}
.movieScrollDiv, .personScrollDiv, .homepageScroll{
  max-height: 75vh;
  overflow-y: auto;
}

.addMovie, .addPerson, .singleMovieDetails {
  margin: auto;
  width: 50vw;
}
.singleMovieImage{
  margin: 0;
  height: 460px;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: #364d79;
}
.singleMovieDetails div{
  margin:auto
}
.carousal{
  margin: auto;
  width: 90%;
}

Link{
  text-decoration: none;
  color: aquamarine;
}
/* spin */
.spin{
  background:"black";
  margin:auto
}

/* APP Footer */
.appFooter{
  margin-top: 10px;
  display: flex;
  border-top: 1px grey solid;
  border-bottom: 1px grey solid;
  margin-bottom:3px ;
  align-items: center;
  height: 30px;
  justify-content: center;
}